:root{
    --azul-preto: #151e3fff;
--azul-escuro: #030027ff;
--amarelo-claro: #f2f3d9ff;
--bege-claro: #dc9e82ff;
--bege: #c16e70ff;
--roxo-violet: #320e3bff;
--roxo-maisclaro: #4c2a85ff;
--roxo-azul: #6b7fd7ff;
--azulclaro: #bcedf6ff;
--verde-estranho: #ddfbd2ff;
}