:root{
--azul-preto: #151e3fff;
--fundo: #030027ff;
--amarelo-claro: #f2f3d9ff;
--letra: rgba(253, 250, 223, 0.548);
--bege: #c16e70ff;
--turquoise: #42d9c8ff;
--card: rgb(32, 7, 10);
--primary: #0d6efd;
--primary-light: #70b5ff;
--primary-dark: #051b3b;
--secondary: #ffc107;
--accent: #198754;
--accent-light: #e0f7ea;
--background: #f8f9fa;



}