.container {
  display: grid;

  grid-template-areas:
    "header1 header1 header1"
    "aside1 header2 aside2"
    "aside1 main aside2"
    "aside1 footer2 aside2"
    "bottomFooter bottomFooter aside2";

  grid-template-columns: 20rem 1fr 20rem;

  grid-template-rows: 8rem 1fr 1fr 1fr 8rem;

  @media (max-width: 1200px) {
    grid-template-areas:
      "header1 header1"
      "aside1 header2"
      "aside1 main"
      "aside1 footer2"
      "bottomFooter bottomFooter";

    grid-template-columns: 20rem 1fr;
    grid-template-rows: 8rem 1fr 1fr 1fr 8rem;
  }

  @media (max-width: 768px) {
    grid-template-areas:
      "header1"
      "main"
      "bottomFooter";

    grid-template-columns: 1fr;
    grid-template-rows: 10rem auto 10rem;
  }

  min-height: 100vh;
}

.grid {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: white;
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 20rem;
  background-color: var(--primary-dark);
  color: var(--primary-contrast-light);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  text-align: center;
}

.gridAreaBase {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    border: 2px solid black;
    border-radius: 0.5rem;
}


.header1 {
  grid-area: header1;
  background-color: red;
}

.header2 {
  grid-area: header2;
  background-color: aqua;
}

.aside1 {
  grid-area: aside1;
  background-color: yellow;
}

.aside2 {
  grid-area: aside2;
  background-color: yellow;
}

.footer2 {
  grid-area: footer2;
  background-color: green;
}

.bottomFooter {
  grid-area: bottomFooter;
  background-color: pink;
}